body{
  width:70%;
  height:100%;
  margin-left: 200px;
  border-width: thick;
  border-color: black;
  border: 2px solid #ccc;
}

.container{
  width:70%;
  height:100%;
  border: 2px solid #ccc;

}
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

.tab a {
background-color: inherit;
float: left;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
color: black;
}

a:hover {
background-color: #ddd;
}

.tab button.active {
background-color: #ccc;
}

div{
  padding: 20px;
}


table {
    width:90%;
    padding: 10px;
    border-style: none;
}

th, td {
    padding: 5px;
    text-align: left;
}

th{
  background-color: black;
}
